
################################
# common ignores for all repos
################################
*.log
delit*
delit/
logs/
*.swp
*~
not-for-git/

*.tgz
*.zip
*.xz
*.bzip2
*.tar

# in and out file (.in is custom)
*.out
*.in
*.so
*.a
*.c.c
*.plist
build/

__pycache__/
*.pyc
*.pyo
################################

